h1 {
	text-align: center;
	color: #000000;
	background-color: #1FFF1F;
}
h2{
	text-align: center;
}
body{
	text-align: justify;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
	text-align: center;
	/*padding: 20px;border:5px solid green*/
}
table{
	text-align: center;
}